#tech-title {
  color: #222C67;
  /* font-weight: 400; */
}


/* td.td-icons {
  margin-right: 0% !important;
} */

th.th-img {
  width: 7% !important;
  font-weight: 700;
}

th.th-title {
  margin-left: 1.6vw;
  font-weight: 700;
}

th.th-actions {
  margin-right: 1.3vh !important;
  font-weight: 700;
}

td.td-title {
  margin-left: -10vw !important;
}

td.td-actions {
  margin-right: -0.1vw !important;
}

td img {
  width: 30px;
  margin-left: -0.1vw;
}

td, th {
  padding: 5px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

table {
  overflow-y: scroll;
}

table > tbody > tr:last-child {
  border-bottom: none;
}

td span {
  /* margin-left: -0.3vw; */
}

.add-technology-btn {
  padding: 2vh 0;
}

.add-category-btn {
  padding: '1vh';
  margin: '0 -0.55vw'; 
}

.material-icons, i {
  box-shadow: none !important;
}

a i.material-icons:hover {
  color: #009688;
  cursor: pointer;

}

a i.material-icons:active {
  color: #80cbc4;
}

.btn-add-tech {

}

.btn-add-tech:hover {
  opacity: 85%;
}


/* i:hover {
  border-bottom: 2px solid #009688;
} */

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 25% ;
}

.modal {
  width: 40%;
}
